.forget{
    max-width: 100%;
    min-height: 100%;
    &__inputMail{
       
        display: flex;
        flex-direction: column;
        // justify-content: center;
        &>input{
            width:100%
        }
        
    }
    &__form{
      border: 1px solid grey;
      width: 100%;
      border-radius: 10px;
    //   margin: auto;
      padding: 20px;
    }
    &__inputMail{
        &>input{
            padding: 20px;
            border: 1px solid;
            border-radius: 10px;
            margin-top: 20px;
        }
        &>label{
            font-size: 25px;
            font-weight: 500;
        }
    }
}
.form{
    &__button{
        margin-top: 20px;
    }
    &__btnFindEmail{
        background-color: blue;
        border-radius: 15px;
        &>button{
            font-size: 20px;
            font-weight: 400;
            padding: 10px;
            color: white;
            display: block;
            margin: auto;
        }
    }
}
.container--forget{
    width: 100%; /* Chiều rộng container sẽ tự điều chỉnh để vừa với nội dung */
    max-width: 1200px; /* Đặt chiều rộng tối đa của container */
    margin-left: auto; /* Căn lề trái tự động */
    margin-right: auto; /* Căn lề phải tự động */
    padding-left: 15px; /* Thêm padding bên trái */
    padding-right: 15px; /* Thêm padding bên phải */
    padding-top: 50px;
    padding-bottom: 50px;
}